{% extends 'base.html' %}
{% block body %}
<div class="px-4 py-5 my-5 text-center">
    <img style="height: 100px; width: 100px;" src="../static/assets/bookshelf.png">
    <h1 class="display-5 fw-bold">BookShelf - Library Management System</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Seamlessly track and manage books, manage members, and streamline transactions.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/book/list" class="btn btn-secondary btn-lg px-4">Books</a>
            <a href="/member/list" class="btn btn-secondary btn-lg px-4">Members</a>
            <a href="/transaction/list" class="btn btn-secondary btn-lg px-4">Transactions</a>
            <a href="/report/reports" class="btn btn-secondary btn-lg px-4">Reports</a>
        </div>
    </div>
</div>
{% endblock %}